<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>481609117026-2a8i75b95e8v60epdj2t2b33bfac8a0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481609117026-2a8i75b95e8v60epdj2t2b33bfac8a0m</string>
	<key>API_KEY</key>
	<string>AIzaSyDcPdihxsvCP94pBUSgN2ccA60J5-VLIic</string>
	<key>GCM_SENDER_ID</key>
	<string>481609117026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teja.logi</string>
	<key>PROJECT_ID</key>
	<string>myapp-f268f</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-f268f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:481609117026:ios:f491aa5f51635e9f</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-f268f.firebaseio.com</string>
</dict>
</plist>